<!DOCTYPE html>
<html>
<head>
  <title>Mike's Boatworks</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
  {{# stylesheets.load }}
    application.css
  {{/ stylesheets.load }}
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<body class="pull_top">
  {{{ content }}}
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  {{# javascripts.load }}
    blank.js
  {{/ javascripts.load }}
</body>
</html>
