html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: url('/img/site-bg.jpg') repeat-y;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
}

header {
  margin: 3em auto 1em auto;
  max-width: 500px;
  text-align: center;
}

.card {
  background-color: rgba(white, .75);
  color: #545454;
  border-radius: .25em;
  box-shadow: 0 1px 3px 1px #666;
  padding: 2em;
  margin: 2em auto;
  width: 500px;
  text-align: center;
  &.main {
    margin-top: 100px;
  }

  footer {
    text-align: center;
    a {
      font-size: 1.25em;
      color: #0E1B4C;
      border-radius: .25em;
      border: 2px solid #0E1B4C;
      padding: .5em 1em;
      text-decoration: none;
      line-height: 3em;
      i {
        margin-right: .5em;
      }
      &:hover, &:active {
        background-color: #0E1B4C;
        color: #d3d3d3;
      }
    }
  }
}

.seakeeper {
  width: 150px;
}
